{% extends 'base.html' %}

{% block title %}
| 404
{% endblock title %}

{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card text-capitalize text-center">
                <div class="card-header bg-danger">
                    <h1>404</h1>
                </div>
                <div class="card-body">
                    <h3>page not found</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %} "></script>
{% endblock content %}