{% extends 'base.html' %}

{% block title %}
| Add Borrow - {{getMember}}
{% endblock title %}

{% load static %}

{% block content %}
{% if message is None %}
<div class="container my-5 text-capitalize">
    <h3>Add borrowing for Member: {{getMember.name}}</h3>
    <div class="row justify-content-center mt-5">
        <div class="col-lg-5">
            <div class="card border-primary text-center">
                <div class="card-header bg-primary">
                    <h2>Add Borrow</h2>
                </div>
                <div class="card-body border-primary">
                    <form action="" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="">Book id</label>
                            <input type="text" name="bookid" id="">
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-primary">
                        <a href="" class="btn btn-outline-warning">Cancel</a>
                        <input type="submit" value="Save And Add Another" class="btn btn-outline-primary" name='add_another'>
                        <input type="submit" value="Save" class="btn btn-outline-success" name="add">
                        <input type="reset" value="Reset" class="btn btn-outline-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card border-danger text-capitalize text-center">
                <div class="card-header bg-danger">
                    <h2>Error</h2>
                </div>
                <div class="card-body border-danger">
                    <h4>
                        {{message}}
                    </h4>
                </div>
            </div>  
        </div>
    </div>
</div>
{% endif %}
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %} "></script>
{% endblock content %}

